#blog {
    background-image: url(images/blog-back.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Exo 2', sans-serif;
}

.blog-header {
    color: black;
    padding-top: -50%;
}

.blog-container {
    display: grid;
    padding-right: 10%;
    grid-template-columns: auto auto;
    grid-gap: 50px 30px;
    padding-left: 10%;
}

.blog-entry {
    border: 1px solid black;
    /* border-radius: 10px; */
    /* font-family: 'Roboto', sans-serif; */
    padding: 20px;
    width: 95%;
    text-align: center;
    background-color: white;

    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .2s ease-out;
}

.blog-entry:hover {
    /* background-color: #03a7ff; */
    -webkit-transform:scale(1.04);
    -moz-transform:scale(1.04);
    -o-transform:scale(1.04);
    transform:scale(1.04);
}


.blog-entry h2 {
    font-size: 2em;
    letter-spacing: -0.01em;
    color: black;
}

.blog-entry p {
    color: #555;
    font-weight: normal;
}

.item1{grid-area: entry1; background-color: #cfe2f3ff;}
.item2{grid-area: entry2; background-color: white;}
.item3{grid-area: entry3; background-color: white;}
.item4{grid-area: entry4; background-color: #9fc5e8ff;}
.item5{grid-area: entry5; background-color: #6d9eebff;}
.item6{grid-area: entry6; background-color: white;}
.item7{grid-area: entry7; background-color: white;}

#newblog{
    background-color: #ddd;
}

#newblog .blog-container{
    float: left;
    display: grid;
    grid-template-areas: 
        'entry1 entry1'
        'entry2 entry3';
    grid-gap: 10px;
    width: 45vw;
    height: 40vw;
    padding-left: 5vw;
    padding-right: 0;
}

#newblog .blog-container2{
    position: relative;
    left: 1vw;
    display: grid;
    grid-template-areas: 
        'entry4 entry5 entry5'
        'entry6 entry6 entry7';
    grid-template-rows: 17vw 22.4vw;
    grid-template-columns: 15vw 5vw 20vw;
    grid-gap: 10px;
    width: 45vw;
    height: 45vw;
    padding-right: 2vw;
}

