/* #newblog .title{
    grid-area: title;
    background-color: rgb(234, 209, 220);
    writing-mode: tb-rl;
    color: #2A5A9C;
    font-weight: 900;
    font-size: 5vw;
    letter-spacing: 0.2em;
    line-height: 7vw;
    text-indent: 0.7em;
    user-select: none;
    transform: scale(-1,-1);
}
.item1{grid-area: entry1; background-image: url(images/things.png); background-size: 100% 100%}
.item2{grid-area: entry2; background-color: white;}
.item3{grid-area: entry3; background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/qatar.jpg); background-position: center; background-size: 120% 100%; transition: 0.5s}
.item4{grid-area: entry4; background-image: url(images/europe.jpg); background-size: 100% 100%; background-position: center; transition: 0.5s}
.item5{grid-area: entry5; background-color: rgb(164, 194, 244)}
.item6{grid-area: entry6; background-color: rgb(208, 224, 227);}
.item7{grid-area: entry7; background-color: white;}

.item2:hover{border: solid 3px rgb(33, 95, 196);}
.item3:hover{border: solid 3px rgb(33, 95, 196); background-size: calc(130% + 7px) calc(110% + 7px); transition-property: background-size}
.item4:hover{border: solid 3px rgb(33, 95, 196); background-size: calc(110% + 7px) calc(110% + 7px); transition-property: background-size}
.item5:hover{border: solid 3px rgb(33, 95, 196);}
.item6:hover{border: solid 3px rgb(33, 95, 196);}
.item7:hover{border: solid 3px rgb(33, 95, 196);}

.item2:hover #two{margin-left: -3px; margin-top: -3px; width: calc(100% + 6px)}
.item3:hover #three{margin-left: -3px;margin-top: -3px; width: calc(100% + 6px)}
.item4:hover #four{margin-left: -3px;margin-top: -3px; width: calc(100% + 6px)}
.item5:hover #five{margin-left: -3px;margin-top: -3px; width: calc(100% + 6px)}
.item6:hover #six{margin-left: -3px;margin-top: -3px; width: calc(100% + 6px)}
.item7:hover #seven{margin-left: -3px;margin-top: -3px; width: calc(100% + 6px)}

#newblog a{
    text-decoration:none;
}

#newblog{
    background-color: rgb(243, 243, 243);
    font-family: 'Lato', sans-serif;
}

#newblog .text{
    position: relative;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    top: 66%;
    height: 34%;
    width: 100%;
}

#newblog .cover:hover .text{
    top:38%;
    height: 62%;
}

#newblog h1{
    color: white;
    font-weight: 900;
    user-select: none;
    margin-top: 0;
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2.5em;
    height: 5vh;
}

#newblog h2{
    color: white;
    font-weight: 600;
    user-select: none;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2.6vh;
}

#newblog h3{
    color: white;
    font-weight: normal;
    user-select: none;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vh;
}


#newblog .cover{
    top:0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#newblog .cover:hover{
    background-color: rgba(0, 0, 0, 0.34);
    transition: 0.3s;
}

#newblog .normalcover{
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#newblog .blog-container{
    grid-area: grid1;
    display: grid;
    grid-template-areas: 
        'title entry1 entry1'
        'title entry2 entry3';
    grid-gap: 10px;
    grid-template-rows: 20vw 20vw;
    grid-template-columns: 7vw calc(45vw/2) calc(45vw/2);
    width: 45vw;
    height: 40vw;
}

#newblog .blog-container2{
    grid-area: grid2;
    display: grid;
    grid-template-areas: 
        'entry4 entry5 entry5'
        'entry6 entry6 entry7';
    grid-template-rows: 17vw 23vw;
    grid-template-columns: 18vw 3vw 19vw;
    grid-gap: 10px;
    width: 45vw;
    height: 40vw;
}

#newblog .blog-grid{
    float: left;
    margin-top: -4em;
    display: grid;
    margin-left: 2.5vw;
    grid-template-areas: 'grid1 grid2';
    grid-gap: 15px;
    grid-template-columns: 53vw 47vw;
    grid-template-rows: 40vw;
}
 */
