#research .title{
    position: absolute;
    
    font-size: 6em;
    color: #2A5A9C;
    /* text-shadow: -1px 0 #024aaf, 0 3px #024aaf, 3px 0 #024aaf, 0 -3px #024aaf; */
    /* text-shadow: -3px -3px #024aaf; */
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    left:2%;
    top: 8%;
    writing-mode: tb-rl;
    bottom: auto;
    z-index: 900;
    transform: scale(-1,-1);
}

.scrolling_container{
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 90%;
    height: 80%;
    margin-left: 170px;
    -webkit-overflow-scrolling: touch;
}

.scrolling_container .card{
    position: relative;
    display: inline-block;
    border: 5px solid #002C6A;
    width: 400px;
    margin-top: 3%;
    margin-right: 50px;
    height: 87%;
    background: white;
}

.card .card_shadow{
    position: relative;
    height: 100%;
    width: 400px;
    margin-left: 4%;
    top: 4%;
    background: #002C6A;
    z-index: -1;
}

.paper_title{
    position: absolute;
    width: 401px;
    display: block;
    background: #2A5A9C;
    border-bottom: 5px solid #002C6A;
    height: 30%;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    margin: 0;
}

.paper_title h1{
    padding: 0.5em;
    height: 85%;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
    font-weight: normal;
}

.image{
    position: absolute;
    height: 30%;
    width: inherit;
    bottom: 22%;
    
    /* z-index: 1000; */
    /* background-image: url(images/deep_learning.svg) ; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    transform: scale(1.3);
    transition: all 0.4s;
}


.hover_content{
    display: block;
    position: absolute;
    width: 401px;
    height: 69.7%;
    bottom: 0;
    background:rgba(0, 0, 0, 0.7);
    z-index: 99;
    opacity: 0;
    transition: all 0.4s;
    margin-bottom: inherit;
}

.hover_content p{
    position: absolute;
    font-size: 1.2em;
    padding: 1em;
    white-space: normal;
    font-family: 'Exo 2', sans-serif;
    opacity: 1;
    transform: scale(1.2);
    line-height: 1.3em;
    transition: all 0.4s;
}

.hover_content button{
    position: absolute;
    text-transform: uppercase;
    display: block;
    font-family: 'Exo 2', sans-serif;
    padding: 2em, 2em;
    background-color: white;
    border: 4px solid #002C6A;
    font-size: 1.5em;
    text-align: center;
    margin-top: 55%;
    margin-left: 25%;
    width: 200px;
    height: 50px;
    transform: scale(1.2);
    font-weight: bold;
    transition: all 0.4s;
    opacity: 1;
}


.hover_content:hover ~ .image{
    transform: translate3d(0,0,0) scale(1);
}

.hover_content:hover{
    opacity: 1;
}

.hover_content:hover p{
    transform: scale(1);
}

.hover_content:hover button{
    transform: scale(1);
}

.hover_content button:hover{
    background: #002C6A;
    color: white;
}

/* 
.scrolling_container::-webkit-scrollbar{
    display: none;
} */