#about-me {
    font-weight: 600
}

.portrait-title h2{
    font-weight: 600
}

.portrait-title h3{
    font-weight: 400
}

.mb-0{
    font-weight: 500
}

.section-subheading.article-title.mb-1.mt-3 a{
    font-variation-settings: 'opsz' 32;
    font-weight: 600;
}

.article-container.pt-3 h1{
    font-variation-settings: 'opsz' 32;
    font-weight: 700;
}

.network-icon
.fas,
.fab,
.ai {
    font-size: 1.6em;
}


.mr-2.mb-2 {
    font-size: 1.5em;
}
.mr-2.mb-2 img{
    height: 100%
}